@page "/notecards"

<PageTitle>Note Cards</PageTitle>

<h1>Note Cards</h1>

@*<CardButtonsComponent></CardButtonsComponent>*@

<div class="card">
    <div class="card-inner">
        <div class="side-a">
            <h2>@Question</h2>
        </div>
        <div class="side-b">
            <h2>@Answer</h2>
        </div>
    </div>
</div>

@*<CardInfoComponent></CardInfoComponent>*@

<ManageCardsComponent></ManageCardsComponent>


@code {

    public string Question { get; set; } = "Question?";
    public string Answer { get; set; } = "Answer!";

    

    protected override void OnInitialized()
    {
        base.OnInitialized();

    }

    private void removeThis()
    {
        
    }

    

}
