@page "/notecards"

<PageTitle>Note Cards</PageTitle>

<h1>Note Cards</h1>

<CardButtonsComponent></CardButtonsComponent>

<br />
<br />





@code {
    List<string> groups = new List<string>()
    {
        "Math", "Chemistry", "History"
    };

    protected override void OnInitialized()
    {
        base.OnInitialized();

    }

    private void removeThis()
    {

    }

}
