@page "/todo"

<h3>ToDo</h3>

<ul>
    <li>Show answer when card is clicked, not hover</li>
    <li>Manage Cards - Show list of cards by group</li>
    <li>Manage Cards - Make list of cards interactive (click to change color to red to remove)</li>
    <li>Manage Cards - Put 'Save' button at bottom to save changes</li>
    <li>Manage Cards - Add 'Change group' button at top of Manage and Study pages</li>
</ul>

@code {

}
