
<div class="btn">
    <button class="btn-card" @onclick="manageCards">Manage Cards</button>
    <button class="btn-card" @onclick="changeSettings">Settings</button>
    <button class="btn-card" @onclick="changeGroup">Change Group</button>
    <button class="btn-card" @onclick="startCards">Start Studying</button>
</div>



@code {

    private void addCard()
    {
        
    }

    private void manageCards()
    {

    }

    private void changeSettings()
    {

    }

    private void changeGroup()
    {

    }

    private void startCards()
    {

    }
}
