@inject NavigationManager UriHelper


@foreach (var btext in buttonText)
{
    <div class="btn">
        <button class="btn-card" @onclick="() => Navigate(btext)">@btext</button>
    </div>
}

@code {

    List<string> buttonText = new List<string>
    {
        "Start Studying", "Manage Cards", "Settings"
    };


    void Navigate(string whereTo)
    {
        string tempNav;
        switch (whereTo)
        {
            case "Start Studying":
                tempNav = "study";
                UriHelper.NavigateTo("/" + tempNav);
                break;
            case "Manage Cards":
                tempNav = "manage";
                UriHelper.NavigateTo("/" + tempNav);
                break;
            case "Settings":
                tempNav = "settings";
                UriHelper.NavigateTo("/" + tempNav);
                break;
        }

    }


}
